
.sbox{
    width: 283px;
    border: 3px solid red;
    border: dashed;
    height: 212px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 35px;
    margin: 35px;
}
.sbox:hover{
    background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 2px 2px 23px red;
}
.scont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gh{
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 23px red;
}
.gh:hover{
    color: black;
    text-shadow: 2px 2px 26px red;
}
.jjbox{
    width: 291px;
    height: auto;
    border: 7px solid gray;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #6258581a;
    margin: 6px;
    

}
.jjbox:hover{
    background-color: rgba(220, 224, 224, 0.103);
    box-shadow: 2px 2px 11px white;
}

.jjimg{
    width: 180px;
    height: 180px;
    border-radius: 25px;
}
.jjname{
    font-size: 23px;
    font-family: cursive;
    text-decoration: none;
}
.jjbbcont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.jjsstt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 138px;
  background-image: url(./imgs/search_b.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.typss{
    width: 339px;
    border-radius: 17px;
    box-shadow: 1px 1px 20px black;
    margin-right: 26px;
    height: 44px;
}
.sst4{
    background-color: #ffffff00;
    border-radius: 20px;
    font-size: 24px;
    color: white;
    border: none;
}
.sst4:hover{
    text-shadow: 2px 2px 23px beige;
    box-shadow: 2px 2px 23px black;

}
.jjbbcont{
    width: auto;
  
}
.jjdf{
    text-decoration: none;
    color: #ffeb3b;
    text-shadow: 1px 1px 23px black;
}
.jjdf:hover{
    color: white;
}
.hed23{
    font-size: 34px;
    font-family: cursive;
    font-weight: 900;
    color: white;
    text-shadow: -3px -2px 20px black;
}
.hed21{
    text-align: center;
    font-size: 34px;
    font-family: 'Acme';
}
.lopi{
    color: white;
    text-decoration: none;
}


/* --------- For data fetch in pages ---------*/

.re1{
   
    border: 4px solid black;
    height: 300px;
    max-width: 365px;
    min-width: 300px;

}
.ljcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid darkblue; */
    width: 1018px;
    min-width: 350px;
    padding: 2px;
}
.re5{
    font-size: 32px;
    font-family: 'Acme', sans-serif;
}
.re2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-content: flex-start; */
    justify-content: space-between;
    width: 348px;
    min-width: 300px;
}
.bbjcont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chatjj{
        /* border: 4px solid pink; */
    /* border: 4px solid pink; */
    width: 425px;
    min-width: 200px;
    background-color: #dadada8a;
    box-shadow: 3px 3px 13px darkred;
    border-radius: 18px;
    height: 100vh;
  
        overflow-y: scroll;
     
}
.notice{
   color: red;
}
.imgh{
    border: 1px solid #121111;
    width: 348px;
    min-width: 200px;
    border-radius: 45px;
    min-width: 235px;
}

.hijj{
    font-weight: 500;
    color: black;
    font-size: 18px;
}
.aw2{
    /* text-shadow: 1px 1px 12px orange; */
    border-radius: 6px;
    padding: 3px;
    font-size: 26px;
}
.aw2:hover{
    box-shadow: 2px 2px 23px red;

}
.ytr{
    text-align: center;
    margin-top: 23px;
    font-size: 23px;
    font-family: cursive;
}

.cvb2{
  
    /* justify-content: center; */
    align-items: center;
}
.iuy8{
    border: 2px solid;
    border-radius: 7px;
    margin: 0px 3px 0px 1px;
    padding: 7px;
    text-align: center;
}
.clogo{
    border: 2px solid red;
    border-radius: 69px;
    width: 57px;
    height: 57px;
}
.bbvcm{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 17px;
    flex-direction: row;
    justify-content: space-evenly;
}
.comtedesc{
    text-align: center;
}
.dateinsert{
    text-align: end;
    margin: 9px 13px 0px 0px;
}



/* for star rating -------- */
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unicmt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */